
<div class="container" ng-controller="summaryController" >
    <input type="hidden" id="Date" value="@ViewBag.RecentlyDate" />
    <h2>History</h2>
    <hr />
    <div class="row" ng-init="historyPageCall()">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Date of Flight</span>
                <input id="calendar" type="text" aria-describedby="input1" class="form-control" uib-datepicker-popup="{{format}}" ng-model="strtdate" is-open="popup1.opened" datepicker-options="dateOptions" placeholder="Search Date . . ." ng-click="open1()" />
                <span class="input-group-btn" id="input1">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" ng-click="landingCall()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="col-md-4">
            {{current+1}}/{{AllDate}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" ng-init="landingCall()">
                <thead>
                    <tr>
                        <th>Probability of update</th>
                        @*<th>@Html.ActionLink("SSR/MRT", "Index", "Summary", routeValues: new { selectedDate = ViewBag.RecentlyDate, sensorid = 2 }, htmlAttributes: null) </th>
                        <th>@Html.ActionLink("ADS-B", "Index", "Summary", routeValues: new { selectedDate = ViewBag.RecentlyDate, sensorid = 1 }, htmlAttributes: null) </th>*@
                        <th>
                            <a href="/summary/Index?selectedDate={{dateInfo}}&sensorid=2">SSR/MRT</a>
                        </th>
                        <th>
                            <a href="/summary/Index?selectedDate={{dateInfo}}&sensorid=1">ADS-B</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Horizontal Position</th>
                        <td>{{R2_Land_62}} %</td>
                        <td>{{R2_Land_21}} %</td>
                    </tr>
                    <tr>
                        <th>Altitude</th>
                        <td>{{R7_Land_62 }} %</td>
                        <td>{{R7_Land_21}} %</td>
                    </tr>
                    <tr>
                        <th>Identification</th>
                        <td>{{R14_Land_62}} %</td>
                        <td>{{R14_Land_21}} %</td>
                    </tr>
                </tbody>
            </table>
            <p>Information from Data on {{showDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="btn-group">
                <label class="btn btn-success" ng-click="clickPrev()">Previous</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-success" ng-click="clickNext()">Next</label>
            </div>
        </div>
    </div>
    
</div>
